Stratus/Batch_filter/.*
Stratus/Parallel_filter/.*
Stratus/Batch_filter/cachelib
Stratus/Parallel_filter/cachelib
Stratus/Batch_filter/bdw_work
Stratus/Parallel_filter/bdw_work
top_pins.io
Stratus/Batch_filter/Batch_filter.pro.user.1.3
Stratus/Parallel_filter/Parallel_filter.pro.user.1.3
sources.txt
*.png
*exp*.csv
*mant*.csv
*.pyc
*.diag
*.log
*.cmd
spectre_tb/

*waves.shm/
*.simvision/
*xcelium.d/
*sim_cov
*transcript
*xrun*
*xmvlog*
*vsim.wlf
